pkgbase = ptodo
	pkgdesc = My cool python script
	pkgver = 1.0
	pkgrel = 1
	arch = any
	depends = python
	depends = python-rich
	source = ptodo.py
	sha256sums = 19b0d4ef3b7de0d041efa5d06649999a1e60666a9b0fddcc979f977761f6deed

pkgname = ptodo
