pkgbase = ptodo
	pkgdesc = My cool python script
	pkgver = 1.0
	pkgrel = 1
	arch = any
	depends = python
	depends = python-rich
	source = ptodo.py
	sha256sums = 58fd4244de9ee26dbf1b488b906ab489520ba938ce18b92230044fda14253bd4

pkgname = ptodo
